html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.container {
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
  text-align: center;
  visibility: hidden;
  position: relative;
  overflow: hidden;
}

.container div.six {
  top: 10vh;
  z-index: 1;
}

.container div.seven,
.container div.eight {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.container>div {
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.one {
  font-size: 4.5rem;
}

.one>img {
  vertical-align: middle;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.two {
  font-size: 1.2rem;
  font-weight: lighter;
}

.three {
  font-size: 3rem;
}

.four .text-box {
  width: 600px;
  margin: 0 auto;
  border: 3px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.text-box p {
  margin: 0;
  text-align: left;
}

.text-box span {
  visibility: hidden;
}

.text-box .fake-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #fff;
  background-color: rgb(21, 161, 237);
  padding: 5px 8px;
  border-radius: 3px;
}

.five p {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
}

.idea-3 strong {
  padding: 3px 5px;
  border-radius: 3px;
  display: inline-block;
}

.five .idea-5 {
  font-size: 4rem;
}

.idea-5 span,
.idea-6 span,
.wish-hbd span {
  display: inline-block;
}

.idea-6 span {
  font-size: 15rem;
}

.six {
  position: relative;
}

.six img {
  display: inline-block;
  max-width: 45%;
  height: auto;
}

.six .hat {
  position: absolute;
  width: 80px;
  top: -35px;
  left: 41.5%;
  /* transform: scale(0.1); */
}

.baloons img {
  display: inline-block;
  position: absolute;
  width: 200px;
}

.baloons img:nth-child(even) {
  left: 10%;
}

.baloons img:nth-child(odd) {
  right: 10%;
}

.baloons img:nth-child(3n + 0) {
  left: 30%;
}

.eight svg {
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
}

.eight svg:nth-child(1) {
  top: 7vh;
  left: 5vw;
  fill: #bd6ecf;
}

.eight svg:nth-child(2) {
  top: 23vh;
  left: 35vw;
  fill: #7dd175;
}

.eight svg:nth-child(3) {
  top: 33vh;
  left: 23vw;
  fill: #349d8b;
}

.eight svg:nth-child(4) {
  top: 43vh;
  left: 57vw;
  fill: #347a9d;
}

.eight svg:nth-child(5) {
  top: 68vh;
  left: 7vw;
  fill: #c66053;
}

.eight svg:nth-child(6) {
  top: 42vh;
  left: 77vw;
  fill: #bfaa40;
}

.eight svg:nth-child(7) {
  top: 68vh;
  left: 83vw;
  fill: #e3bae8;
}

.eight svg:nth-child(8) {
  top: 86vh;
  left: 37vw;
  fill: #8762cb;
}

.eight svg:nth-child(9) {
  top: 94vh;
  left: 87vw;
  fill: #9a90da;
}

.wish-hbd {
  font-size: 3em;
  margin: 0;
  /* text-transform: uppercase; */
}

.wish h5 {
  font-weight: lighter;
  font-size: 2rem;
  margin: 10px 0 0;
}

.nine {
  padding: 0 8%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  box-sizing: border-box;
}

.nine p {
  font-size: 2rem;
  font-weight: lighter;
}

.nine-intro {
  font-size: 1.5rem !important;
  margin: 0.4rem 0 0.3rem;
  text-align: center;
}

.perspective-list {
  text-align: left;
  margin: 0.3rem auto;
  max-width: 560px;
}

.perspective-list p {
  font-size: 1.05rem !important;
  line-height: 1.35;
  margin: 0.25rem 0;
}

.nine-outro {
  font-size: 1.35rem !important;
  margin: 0.5rem 0 0.3rem;
  text-align: center;
}

.nine #replay {
  margin: 0.4rem 0 0.2rem;
}

.nine .last-smile {
  margin: 0.2rem 0;
}

#replay {
  z-index: 3;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-height: 1000px) {
  .six .hat {
    left: 40%;
  }
}

@media screen and (max-height: 800px) {
  .six .hat {
    left: 37%;
  }
}

@media screen and (max-height: 700px) {
  .six .hat {
    left: 32%;
  }
}

@media screen and (max-height: 850px) and (max-width: 450px) {
  .six .hat {
    left: 32%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }

  .four .text-box {
    width: 90%;
  }

  .text-box .fake-btn {
    right: 5px;
    bottom: -38px;
  }

  .idea-5 span {
    display: block;
  }

  .idea-6 span {
    font-size: 10rem;
  }

  .six .hat {
    width: 50px;
    top: -20px;
  }

  .wish-hbd {
    font-size: 2.3em;
  }

  .wish h5 {
    font-size: 1.4rem;
  }

  .nine p {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .nine-intro {
    font-size: 1.25rem !important;
  }

  .perspective-list p {
    font-size: 0.95rem !important;
    margin: 0.2rem 0;
  }

  .nine-outro {
    font-size: 1.15rem !important;
  }
}

/* Presentation section - heartfelt messages, one at a time */
.presentation {
  position: absolute;
  left: 0;
  right: 0;
  top: 15vh;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  z-index: 10;
  visibility: hidden;
}

.presentation-slide {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 24px 32px;
  max-width: 520px;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  color: #333;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.presentation-slide.slide-love {
  font-size: 2.5rem;
  font-weight: 600;
  color: #c2185b;
  white-space: nowrap;
}

/* Pink highlight for name (same as love slide) */
.highlight-name {
  color: #c2185b;
  font-weight: 600;
}

@media (max-width: 600px) {
  .presentation-slide {
    font-size: 1.2rem;
    padding: 16px 20px;
  }

  .presentation-slide.slide-love {
    font-size: 2rem;
  }
}

/* Background music toggle - fixed so it's always visible */
.music-toggle {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  background: linear-gradient(135deg, #e91e63 0%, #c2185b 100%);
  color: #fff;
  border: none;
  border-radius: 50px;
  font-family: "Work Sans", sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(233, 30, 99, 0.4);
  transition: transform 0.2s, box-shadow 0.2s;
}

.music-toggle:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 24px rgba(233, 30, 99, 0.5);
}

.music-toggle .music-icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}

.music-toggle.playing .music-icon {
  animation: music-pulse 1s ease-in-out infinite;
}

@keyframes music-pulse {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.85;
    transform: scale(1.1);
  }
}